<a (click)="openCard()" class="card clickable">
    <div class="card-block">
        <h3 class="card-title">{{widget.title}}</h3>
        <p class="card-text">
            {{widget.text}}
        </p>
    </div>
</a>