<div class="main-container">
        <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <h1>SSO</h1>
            <div class="line-break"></div>
        </div>
    </div>
</div>