<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <h1>Shared Files</h1>
            <div class="line-break"></div>
        </div>
    </div>
</div>