<header class="header-6">
    <div class="branding">
        <a href="/" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">Cross<strong>Work</strong></span>
        </a>
    </div>
    <header-search></header-search>
    <header-actions></header-actions>
</header>