header {
    header-search {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        max-width: 12rem;
        padding: 0;
        height: 2.5rem;
        color: #fafafa;
        opacity: .65;
    }

    header-actions {
        flex: 1 0 auto;
        display: flex;
        justify-content: flex-end;
    }
}