<div class="header-actions">
    <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
            {{this.userEmail}}
            <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a href="..." clrDropdownItem>Preferences</a>
            <div (click)="confirmLogout()" clrDropdownItem>Log out</div>
        </clr-dropdown-menu>
    </clr-dropdown>
</div>

<clr-modal [(clrModalOpen)]="logoutConfirmModal" [clrModalClosable]="false">
    <h3 class="modal-title">Are you sure you want to? :o</h3>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="logoutConfirmModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="logout()">Ok</button>
    </div>
</clr-modal>