<div class="login-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
        <section class="title">
            <h3 class="welcome">Welcome to the</h3>
            EdCity Developer Portal
            <h5 class="hint">Use your AD ID to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">Email</label>
                <input formControlName="email" type="text" name="email" clrInput placeholder="Email" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input formControlName="password" type="password" name="password" clrPassword placeholder="Password" />
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox />
            </clr-checkbox-wrapper>
            <div class="error active" *ngIf="authErr">
                Invalidemail or password
            </div>
            <button type="submit" class="btn btn-primary">GO!</button>
        </div>
    </form>
</div>