<div class="main-container">
    <app-header></app-header>
    <div class="content-container">
        <div class="content-area">
            <h1>Welcome back, {{userFirstName}}!</h1>
            <div class="line-break"></div>

            <div class="clr-row cards">
                <a href="/documentation" class="clr-col-4 card clickable">
                    <div class="card-block">
                        <h3 class="card-title">Documentation</h3>
                        <p class="card-text">
                            Something about documentation? :o
                        </p>
                    </div>
                </a>

                <a href="/sso" class="clr-col-4 card clickable">
                    <div class="card-block">
                        <h3 class="card-title">SSO</h3>
                        <p class="card-text">
                            Super Sign On&trade;
                        </p>
                    </div>
                </a>

                <a href="/mission-control" class="clr-col-4 card clickable">
                    <div class="card-block">
                        <h3 class="card-title">Mission Control</h3>
                        <p class="card-text">
                            Systems Check
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>