@import "../../../assets/styling/app.less";

.main-container {
    navigation-main {
        flex: 0 0 auto;
        order: -1;
    }

    .cards {
        margin: 0;
        justify-content: space-between;

        .card {
            border-radius: 0;
            padding: 0;
            width: 32%;
            max-width: 32%;
        }
    }
}