<clr-vertical-nav>
    <a href="/" class="app-logo">
        <h1>Cross<span>Work</span></h1>
    </a>
    <a title="Dashboard" clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active"><clr-icon shape="home"></clr-icon> <span>Dashboard</span></a>
    <a title="Shared Files" clrVerticalNavLink routerLink="/shared-files" routerLinkActive="active"><clr-icon shape="folder"></clr-icon> <span>Shared Files</span></a>
</clr-vertical-nav>