clr-vertical-nav {
    height: 100%;
    padding-top: 0;

    .app-logo {
        padding: 7.5px 20px;

        &:hover {
            text-decoration: none;
        }

        h1 {
            margin-top: 0;
            font-size: 26px;
            line-height: 1.4;

            span {
                font-weight: 700;
            }
        }
    }

    a:not(.app-logo) {
        padding: 0 20px;
        background: unset;

        &:hover,
        &.active {
            background: unset;
            color: red;
        }

        clr-icon {
            vertical-align: middle;
            width: 25px;
            height: 25px;
        }

        span {
            margin-left: 7px;
            vertical-align: middle;
        }
    }
}